@model IEnumerable<IGrouping<Department, SalesRecord>>

@{
    ViewData["Title"] = "Grouping Search";
    DateTime minDate = DateTime.Parse(ViewData["minDate"] as string);
    DateTime maxDate = DateTime.Parse(ViewData["maxDate"] as string);
}

<h2>@ViewData["Title"]</h2>

<nav class="navbar navbar-inverse navbar-default">
    <div class="container-fluid navbar-default">
        <form class="navbar-form navbar-left navbar-default" role="search">
            <div class="form-group">
                <div class="form-group">
                    <label for="minDate" style="color:white;">Min Date</label>
                    <input type="date" class="form-control" name="minDate" style="background-color: rgb(78, 93, 108); color: white;"  value=@ViewData["minDate"]>
                </div>
                <div class="form-group">
                    <label for="maxDate" style="color:white;">Max Date</label>
                    <input type="date" class="form-control" name="maxDate" style="background-color: rgb(78, 93, 108); color: white;"  value=@ViewData["maxDate"]>
                </div>
            </div>
            <button type="submit" style="background-color: rgb(131, 81, 204);" class="btn btn-danger">Filter</button>
        </form>
    </div>
</nav>

@foreach (var departmentGroup in Model)
{
    <div class="panel panel-danger">
        <div class="panel-heading" style="background-color: rgb(131, 81, 204);">
            <h3 class="panel-title">Department @departmentGroup.Key.Name, Total sales = R$ @departmentGroup.Key.TotalSales(minDate, maxDate).ToString("F2")</h3>
        </div>
        <div class="panel-body">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr class="danger">
                        <th style="background-color: rgb(131, 81, 204);">
                            Date
                        </th>
                        <th style="background-color: rgb(131, 81, 204);">
                            Amount
                        </th>
                        <th style="background-color: rgb(131, 81, 204);">
                            Seller
                        </th>
                        <th style="background-color: rgb(131, 81, 204);">
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in departmentGroup)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Seller.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
<div class="form-group">
    <a asp-action="Index" class="btn btn-default">Back to search</a>
</div>